* {
	font-family: Helvetica, Arial, Verdana;
	}
	
body {
	background: #000;
	}
		
/***************** Tollbar *****************/
.toolbar {
	height: 50px;
	border-bottom: 1px solid #797F90;
	text-align: center;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #B1B5C1;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(100%,rgba(19,19,19,1))); /* webkit */
	}
	
.toolbar h1 {
	text-shadow: 0px -1px 0px #000;
	padding-top: 10px;
	font-size: 28px;
	height: 24px;
	color: #ddd;
	}
	
.toolbar button {
	padding: 6px 7px;
	border: 1px solid #333333;	
	background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(104,104,104,1) 49%,rgba(81,81,81,1) 50%,rgba(61,61,61,1) 100%);
	color: #C4C4C4;
	text-align: center;
	font-size: 14px;
	margin-top: -24px;
	margin-right: 6px;
	-webkit-border-radius: 4px;
}
	
.toolbar h1 a {
	color: inherit;
	}

/***************** Both sides *****************/	
.content-left .content-main {
	background: #636363;
	color: #fff;
	} 

.content-right .content-main {
	background: #636363 url(images/noise.png);
	color: #fff;
	}

/***************** Content-left *****************/

.content-left .content-main .nav li {
	border-top: 1px solid #797979;
	border-bottom: 1px solid #484848;
	}
	
.content-left .content-main .nav li h2 {
	text-shadow: 0px -1px 0px #000;
	letter-spacing: 0px;
	font-size: 22px;
	}

.content-left .content-main .nav li h2 a {	
	color: #fff;
	}
	
.content-left .content-main .nav li img {
	height: 30px;
	width: 30px;
	}
	
/* When a list item is highlighted */
.tapped {
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #058CF5),color-stop(1, #015DE6));
	}
	


/***************** Content right *****************/
.content-right {
	color: #fff;
	}

/***************** Content Styling *****************/

.loading {
	text-shadow: 0px 1px 0px white;
	background: url(images/loading.gif) no-repeat center top;
	height: 50px;
	width: 60px;
	color: #707070;
	}

.heading1 {
	text-shadow: 0px -1px 0px #000;
	color: #fff;
	font-size: 20px;
	}
	
.XL {
	text-shadow: 0px -1px 0px #000;
	color: #fff;
	font-size: 32px;
	}
.p {
	color: #fff;
	font-size: 12px;
	line-height: 140%;
	text-shadow: 0 -1px 0 #000;
	}
	
.list a {
	color: #fff;
	}
	
.list .single-item li {
	height: 45px;
	-webkit-border-radius: 12px;
	background:  url(images/arrow-list.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(22,22,22,1)));
	border: 1px solid #151515;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	}
	
.list .rounded-list {
	background: #000;
	border: 1px solid #272727;
	-webkit-box-shadow: 0px 1px #FFF;
	-webkit-border-radius: 12px;
	}

.list .rounded-list li {
	height: 45px;
	border-bottom: 1px solid #bababa;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(22,22,22,1)));
	background: url(images/arrow-list.png) no-repeat right center;
	}
	
.list .rounded-list li h3, .list .single-item li h3 {
	color #fff;
	text-shadow: 0 1px #000s;
	}
	
.list .rounded-list li span, .list .single-item span {
	color: #a6a6a6;
	}
	
.edgetoedge li {
	border-bottom: 1px solid #AFAFAF;
	border-top: 1px solid #000000;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #0F0F0F),color-stop(1, #2F2F2F));
	-webkit-box-shadow: 0 0 4px #000;
	}

.edgetoedge li h3 {
	color: #fff;
	}
	
.edgetoedge li h3 a {
	color: #fff;
	}
	
.edgetoedge li .note {
	color: #dadada;
	}
	
/***************** Elements *****************/
.listnumber, .notification, .new {
	font-weight: bold;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #DF0000),color-stop(1, #FF0000));
	-webkit-box-shadow: 0 0 4px rgba(255,255,255, 0.4);
	-webkit-border-radius: 7px;
	color: #fff;
	}
	
.new {
	font-size: 10px;
	padding: 2px;
	text-shadow: 0 1px 0 #333;
	}
	
.deletebutton {	
	background: url(images/delete-icon.png) no-repeat center top;
	}
	
.close {	
	background: url(images/close.png) no-repeat center top;
	}

.panel {
	background-color: #222222;
	}
	
.backbutton {
	background: url(images/back.png) no-repeat center top;
	width: 65px;
	height: 32px;
	}
	
/***************** Inputs *****************/

input[type=text], input[type=password] {
	width: 200px;
	height: 30px;
	font-size: 22px;
	color: #c9c9c9;
	}
	
input[type=submit] {
	height: 30px;
	width: 130px;
	font-size: 20px;
	color: #4f4f4f;
	text-shadow: 0 1px 0 #cecece;
	border: 1px solid #7d7d7d;
	background: #fff;
	}
	
.inputactive {
	color: #000;
	}
 
.highlight {
	background-color: #000;
	}