
/*
	Flip Transition
*/
.flip-back-face {
	z-index: 2;
	-webkit-transform: rotateY(180deg);
	position: absolute;
	width: inherit; 
	height: inherit;
}

.flip-front-face {
	z-index: 3;
	position: absolute;
	width: inherit; 
	height: inherit;
}

.flip {
	-webkit-transform: rotateY(180deg);
	-webkit-transition: -webkit-transform ms;
	-webkit-transform-style: preserve-3d;
}

/*
	Cube Transition
*/
.cube-front, .cube-side {
	display: inline;
}